*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    max-width: 100%;
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(./img/vista-angulo-alto-polvo-holi-rojo-azul-salpicado-sobre-fondo-negro_23-2148054095.jpg);
}

.h1{
    display: flex;
    justify-content: center;
    color: white;
    margin: 20px;
}

.padreboton{
    display: flex;
    justify-content: end;
    padding: 10px;
}

.boton{
    cursor: pointer;
    background-color: blue;
    border: 2px solid red;
    width: 80px;
    height: 30px;
    color: brown;
    border-radius: 20px;
}

.boton:hover{
    transform: scale(1.1);
    background-color: black;
}

.padre{
    display: flex;
    justify-content: space-around;
}

.logo1{
    width: 300px;
    border-radius: 10px;
}

.hijo1{
    background-color: red;
    border: 2px solid white;
    color: white;
    margin: 20px;
    border-radius: 10px;
}

.logo2{
    width: 300px;
    border-radius: 10px;
}

.hijo2{
    background-color: black;
    border: 2px solid white;
    color: white;
    margin: 20px;
    border-radius: 10px;
}

.logo3{
    width: 260px;
    border-radius: 5px;
}

.hijo3{
    background-color: rgb(75, 75, 244);
    border: 2px solid white;
    color: white;
    margin: 20px;
    border-radius: 10px;
}

.p{
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.p:hover{
    transform: scale(1.1);
    background: rgb(89, 0, 255);
    border: 1px solid  red;
    border-radius: 20px;
}